@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: swap;
    src: 
         url('../fonts/poppins-v19-latin-regular.woff2') format('woff2'), 
         url('../fonts/poppins-v19-latin-regular.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: swap;
    src: 
         url('../fonts/poppins-v19-latin-500.woff2') format('woff2'), 
         url('../fonts/poppins-v19-latin-500.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: swap;
    src: 
         url('../fonts/poppins-v19-latin-600.woff2') format('woff2'), 
         url('../fonts/poppins-v19-latin-600.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: swap;
    src: 
         url('../fonts/poppins-v19-latin-700.woff2') format('woff2'), 
         url('../fonts/poppins-v19-latin-700.woff') format('woff'); 
  }