.header__container {
    display: flex;
    align-items: center;
}

.header__link {
    padding: 10px 22px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    text-decoration: none;
    color: #173A56;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins';
    font-weight: 600;
    margin-right: 24px;

    &:hover {
        border: 1px solid #BCD0E5;
        background-color: #fff;
        color: #02897A;
    }

    &:nth-child(2n) {
        margin-right: 0;
    }
}

.sign__up-- {
    background: #02897A;
    color: #fff;
}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header__nav-link {
    display: inline-block;
    padding: 24px;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    border-bottom: 3px solid transparent;

    &:hover {
        border-bottom: 3px solid #02897A;
    }
}

.logo {
    &:hover {
        opacity: 0.8;
    }

    &__img {
        display: block;
    }
}


@media only screen and (max-width: 900px) {
    .header__link {
        padding: 13px;
        padding-bottom: 10px;
        font-size: 13px;
        line-height: 22px;
    }
}

@media only screen and (max-width: 842px){
    .header__link{
        
    }
}