.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: #fff;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__btn {
    padding: 10px 22px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    text-decoration: none;
    color: #173A56;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins';
    font-weight: 600;
    margin-right: 24px;
    transition: 150ms;

    &:hover {
        border: 1px solid #BCD0E5;
        background-color: #fff;
        color: #02897A;
    }



    &:active {
        opacity: 0.6;
    }

    &:nth-child(2n) {
        margin-right: 0;
    }
}

.sign__up-- {
    background: #02897A;
    color: #fff;
}

.theme__btn {
    background-color: transparent;
    border: none;
    margin-left: 24px;

    &:nth-child() {
        margin-left: 0;
    }

    &:active {
        opacity: 0.6;
    }
}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.header__nav-link {
    display: inline-block;
    padding: 24px;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    transition: 150ms;
    border-bottom: 3px solid transparent;

    &:hover {
        border-bottom: 3px solid #02897A;
        color: #02897A;
    }

    &:active {
        opacity: 0.6;
    }
}

.logo {
    &:hover {
        opacity: 0.8;
    }

    &__img {
        display: block;
    }
}

.header__burger {
    display: none;
    width: 20px;
    padding: 0;
    border: none;
    background-color: transparent;

    &::before,
    &-inner,
    &::after {
        display: block;
        height: 4px;
        border-radius: 2px;
        background-color: #173A56;
        margin-bottom: 2px;
        transition: 150ms ease all;
        content: '';
    }

    &::after {
        margin-bottom: 0;
    }
}

.header__burger--opened .header__burger-inner {
    display: none;
}

.header__burger--opened {
    position: relative;

    &::after,
    &::before {
        margin: 0;
        width: 100%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &::after {
        transform: translateY(-50%) rotate(45deg);
    }

    &::before {
        transform: translateY(-50%) rotate(-45deg);
    }
}





@media only screen and (max-width:1154px) {
    .header {
        padding: 5px;
    }

    .header__nav-link {
        padding: 13px;
        padding-bottom: 10px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        padding: 21px;
    }

    .theme__btn {
        display: none;
    }

    .header__nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0;
        
        &::before {
            height: calc(100vh - 79px);
            width: 100%;
            height: 100%;
            background-color: rgba(#000, 0.4);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform-origin: left top;
            content: '';
        }
    }

    .header__nav-list {
        flex-grow: 1;
        display: block;
    }

    .header__nav-item {
        margin-bottom: 24px;
    }

    .header__nav-link {
        color: #fff;
    }

    .header__btn {
        display: none;
    }

    .header__nav-link {
        &:hover {
            border-bottom: 3px transparent;

        }
    }

    .header__burger {
        display: block;
        position: absolute;
        right: 30px;
        top: 35px;
        transform: translateY(-50%);
    }



    .header__nav--opened {
        display: block;
    }

    .header__nav--opened::before {
        animation: shadow-open 0.3s linear;
    }

    .header__nav-wrapper {
        flex-grow: 0;
        flex-direction: column;
        background-color: #22343D;
        padding: 64px 15px 24px;
        height: 100%;
        width: fit-content;
        position: relative;
        z-index: 4;
    }

    .header__nav--opened .header__nav-wrapper {
        animation: header-content-open 0.3s linear;
    }



}