.intro {
    background-image: url(../img/amico.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 120px + 200px) center;
    padding: 145px 0 215px;
  }
  
  .intro__container {
    display: flex;
    justify-content: space-between;
  }
  
  .intro__content {
    width: 518px;
    padding: 0;
    margin: 0;
  }
  
  .intro__title {
    font-size: 40px;
    line-height: 60px;
    color: #22343D;
    font-family: 'Poppins';
    font-weight: 700;
    margin-bottom: 18px;
  }
  
  .intro__description {
    font-size: 18px;
    line-height: 28px;
    color: #22343D;
    font-family: 'Poppins';
    font-weight: 400;
    margin-bottom: 45px;
  }
  
  .watch_link {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #02897A;
    margin-left: 30px;
  }

  @media only screen and (max-width: 768px){
      .intro__content{
          max-width: 450px;
      }
  }