.price-table {
    padding: 150px 0;
}

.price-table__title {
    margin: 0;
    font-family:$Poppins;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 51px;
color: #22343D;
text-align: center;

}
.price-teble__text {
    margin: 0;
    margin-bottom: 50px;
    font-family:$Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #22343D;
text-align: center;

}
.price-table__list {
    @include reset-list;
    display: flex;

}

.price-table__item {
    text-align: center;
    width: 322px;
    text-align: center;
  padding-bottom: 32px;
    margin-right: 70px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
border-radius: 8px;
transition: .5s linear;
&:nth-child(3n){
    margin-right: 0;
}
&:hover{
    background-color: #02897A;
    color: #fff;
.price-table__item-desc,
.price-table__item-paragrap,
.price-table__item-paragrap-tim,
.price-table__item-title,
.price-table__item-slider,
.price-table__item-wrapper{
    color: #fff;
}
.price-table__item-link{
    background-color: #fff;
    color: #22343D;
}
}

}
.price-table__item-title {
    font-family:$Poppins;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 40px;
color: #22343D;

}
.price-table__item-paragrap-tim {
    font-family:$Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
color: #22343D;

}
.price-table__item-paragrap {
    margin-bottom: 16px;
    font-family:$inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.2px;
color: #22343D;
&:nth-child(3n){
margin-bottom: 38px;
}
}

.price-table__item-wrapper{
    font-family:$Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 76px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #02897A;
    display: inline-block;
}
.price-table__item-slider{
    display: inline-block;
    font-family:$inter;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
letter-spacing: 0.1px;
color: #02897A;
}
.price-table__item-desc{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.1px;
color: #AFAFAF;
}
.price-table__item-link {
  
    padding: 11px 18px;
    font-family:$motserret;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
width: 139px;
height: 44px;
background: #02897A;
border-radius: 8px;
 
}

@media only screen and (max-width:$tablet){
    .price-table__list{
        flex-wrap: wrap;
        text-align: center;
    }
    .price-table__item{
        
        text-align: center;
        margin: 0;
        
        margin:0 auto;
       margin-bottom: 20px;
        &:nth-child(3n){
           margin:0 auto;
        }
    }
}

