.reference {
    padding: 150px 0;
  
}

.reference__title {
    margin: 0;
    font-family: 'Poppins'Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
    text-align: center;
    margin-bottom: 56px;
}

.reference__conteiner {
    display: flex;
}

.reference__svg {

    width: 528px;
    height: auto;
    margin-right: auto;

    background: url("../../img/reference.svg") no-repeat center center;


}

.reference__desc {

    margin-bottom: 32px;
    width: 528px;;

    &:nth-child(3n) {
        margin-bottom: 0;
    }
}

.reference__desc-svg {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F5F7;

}

.reference__desc-title {
    font-family: 'Poppins'Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #22343D;
    margin: 0;
    margin-left: 14px;
    margin-bottom: 23px;
    display: inline-block;
}

.reference__desc-text {
    font-family: 'Poppins'Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #22343D;
    margin: 0;
}
.reference__wrap{
    display: flex;
   
}

@media only screen and (max-width:1154px) {
    .reference__svg {
        background-image: url("../../img/reference-svg2.svg");
    }
}

@media only screen and (max-width:768px) {
    .reference__desc {
        display: block;
    }
    .reference__svg {
        background-image: url("../../img/reference-svg2.svg");
    }
    .reference__conteiner{
        display: flex;
        align-items: center;
    }
}