.reference {
    padding: 150px 0;
  
}

.reference__title {
    margin: 0;
    font-family: 'Poppins'Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
    text-align: center;
    margin-bottom: 56px;
}

.reference__conteiner {
    display: flex;
}

.reference__svg {
margin-right:auto;
}
.reference__img{
    max-width: 528px;

}
.reference__desc {

    margin-bottom: 32px;
    max-width: 528px;;

    &:nth-child(3n) {
        margin-bottom: 0;
    }
}

.reference__desc-svg {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F5F7;

}

.reference__desc-title {
    font-family: 'Poppins'Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #22343D;
    margin: 0;
    margin-left: 14px;
    margin-bottom: 23px;
    display: inline-block;
}

.reference__desc-text {
    font-family: 'Poppins'Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #22343D;
    margin: 0;
}
.reference__wrap{
    display: flex;
   
}



@media only screen and (max-width:768px) {
    .reference__desc {
        display: block;
        margin: 0 a;
    }
   .reference__img{
       max-width: 352px;
       margin: 0 auto;
   }

   .reference__svg{
       margin: 0;
       margin: 0 auto;
       margin-bottom: 30px;
   }
   .reference__content{
       margin: 0 auto;
   }

    .reference__conteiner{
        display:block;
      margin: 0 auto;
    }
   
}